@import '../../styles/patterns';

.button{
  font-family: $primary-font;
  font-size: $large;
  font-weight: $bold;
  padding: .4rem .8rem;
  border-radius: 3px;
  white-space: nowrap;
  text-align: center;
  svg{
    margin-right: .5rem
  }
  &_outline{
    @extend .button;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 25px;
    transition: all .3s ease-in-out;
    &_ligth{
      @extend .button_outline;
      color: $white;
      border: 1px solid $white;
      &:hover{
        background-color: $white;
        color: $primary-color;
        transition: all .3s ease-in-out;
      }
    }

  }
  &_transparent{
    @extend .button;
    background-color: transparent;
    color: $primary-color;
    &:hover{
      color: $primary-color-hover;
    }
  }

  &_light{
    @extend .button;
    background-color: $bg-blue;
    color: $primary-color;
    transition: all .3s ease-in-out;
    border: none;
    &:hover{
      background-color: $primary-color;
      color: $white;
      transition: all .3s ease-in-out;
    }
  }
  &_secondary{
    background-color: $secondary-color;
    color: $white;
    transition: all .3s ease-in-out;
    border: 1px solid #FF64C8;
    box-sizing: border-box;
    border-radius: 40px;
    padding:.5rem 3.5rem;
    font-size: 1.125rem;
    font-weight: $semi-bold;
    line-height: 1.5rem;

    &:hover{
      background-color: $secondary-color-hover;
      color: $white;
      transition: all .3s ease-in-out;
    }
  }
  &_green{
    background-color: $status-green;
    color: $white;
    transition: all .3s ease-in-out;
    border: none;
    box-sizing: border-box;
    border-radius: 40px;
    padding:.5rem 3.5rem;
    font-size: 1.125rem;
    font-weight: $semi-bold;
    line-height: 1.5rem;

    &:hover{
      background-color: $bg-green;
      color: $status-green;
      transition: all .3s ease-in-out;
    }
  }
  &_blue{
    background-color: $tertiary-color;
    color: $white;
    transition: all .3s ease-in-out;
    border: 1px solid $tertiary-color;
    box-sizing: border-box;
    border-radius: 40px;
    padding:.5rem 1.5rem;
    font-size: $extra-large;
    font-weight: $semi-bold;
    line-height: 1.5rem;

    &_small{
      @extend .button_blue;
      font-size: 1.125rem;
      padding: .25rem 1.5rem;
    }

    &:hover{
      background-color: $tertiary-color-hover;
      color: $white;
      transition: all .3s ease-in-out;
    }
  }
  &_white{
    background-color: $white;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    border-radius: 40px;
    padding: .4rem .8rem;
    font-size: 1.125rem;
    font-weight: $semi-bold;
    line-height: 1.5rem;
    &_primary{
      @extend .button_white;
      color: $primary-color;
      border: none;
      &:hover{
        color: $primary-color-hover;
      }
    }
    &_secondary{
      @extend .button_white;
      border: none;
      color: $secondary-color;
      &:hover{
        color: $secondary-color-hover;
      }
    }
  }
  &:disabled{
    cursor:default;
    color: $text-gray;
    background-color: transparent;
    &:hover{
      background-color: transparent;
      color: $text-gray;
    }
  }
}

.link{
  font-family: $primary-font;
  color: $text-black;
  font-size: $medium;
  text-align: center;
  border-bottom: 1px solid $line-gray;
  &:hover{
    color: $link-blue;
  }
  @media screen and (min-width: $screen-lg) {
    border-bottom: none;
    &.active{
      border-bottom: 3px solid $secondary-color;
    }
  } 
}

.active{
  font-weight: $bold;
  color: $secondary-color;
  border-bottom: 1px solid $secondary-color;
}

