@import '../../styles/patterns';

.schedule{
    margin-bottom: 1rem;
    &__modality{
        font-size: $medium;
        margin-bottom: 1rem;
        & span {
            text-decoration: underline;
        }
    }
    &__checks{
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        &__icon{
            color: $tertiary-color;
            margin-right: .5rem;
        }
        & p{
            font-size: $normal;
        }
    }
    & span{
        font-weight: $bold;
    }
    
}