@import "../../styles/patterns";

.container{
  margin-top: 4rem ;
  margin-bottom: 4rem ;
}
.coursesList{
  margin-bottom: 5rem;
}
.courses{
  padding-bottom: 40px;
  .title {
    color: $text-gray;
    font-family: $primary-font;
    font-size: $normal;
    font-weight:$semi-bold;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
   
  }
  .title::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background:$tertiary-color;
    margin: 4px 10px;
  }
  .description {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
  } 
}
