/*Colors*/
$primary-color: #4154F1;
$primary-color-hover: #1041FF;
$secondary-color: #FF64C8;
$secondary-color-hover: #FF29B3;

$black: #525050;
$white: #ffffff;

$line-gray: #EEF0EF;

$text-black: #525050;
$text-gray: #959595;

$icon-gray: #C4C4C4;

$border-gray: #E5E5E5;

$link-blue: #012970;

$status-green: #84E904;
$status-orenge: #FF9255;
$status-red: #FF5555;

$bg-blue: #F6F9FF;
$bg-green: #FAFEF5;
$bg-red: #FFFAE7;

$bg-gradient:  linear-gradient(159.35deg, #FF64C8 -6.48%, #5578FF 86.31%);

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600;1,800&display=swap');
$primary-font: 'Poppins', sans-serif;

$light: 200;
$regular: 400;
$semi-bold: 500;
$bold: 600;
$extra-bold: 800;

$small: 0.75rem; /*12px*/
$normal: 0.875rem; /*14px*/
$medium: 1rem;/*1rem*/
$large: 1.125rem; /*18px*/
$extra-large: 1.375rem; /* 22px */
$giant: 2.25rem; /*36px*/ 
$extra-giant: 3rem; /*48px*/


/*Spacing*/
$spacing-small: 0.25rem;
$spacing-normal: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-extra-large: 2rem;
$spacing-giant: 3rem;
$spacing-extra-giant: 4rem;

/* Screens */
$screen-xs: 320px;
$screen-sm: 552px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;

