/*Colors*/
$primary-color: #4154F1;
$primary-color-hover: #1041FF;
$secondary-color: #FF64C8;
$secondary-color-hover: #FF29B3;

$black: #525050;
$white: #ffffff;

$line-gray: #EEF0EF;

$text-black: #525050;
$text-gray: #959595;

$icon-gray: #C4C4C4;

$link-blue: #012970;

$status-green: #84E904;
$status-orenge: #FF9255;
$status-red: #FF5555;

$bg-blue: #F6F9FF;
$bg-green: #FAFEF5;
$bg-red: #FFFAE7;

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600;1,800&display=swap');
$primary-font: 'Poppins', sans-serif;

$light: 200;
$regular: 400;
$semi-bold: 500;
$bold: 600;
$extra-bold: 800;

$small: 12px;
$normal: 14px;
$medium: 16px;/*1rem*/
$large: 18px;
$extra-large: 22px;
$giant: 36px;
$extra-giant: 48px;



