@import './patterns';
@import './buttons';


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font, sans-serif;
  color: $text-black;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}


select{
  font-family: $primary-font, sans-serif;
  color: $text-black;
  &:focus-visible{
    outline: none;
  }
}
