@import '../../styles/patterns';

.loading{
  background-color: rgba($color: #fff, $alpha: .8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  .spinner{
    height: 50px;
    width: 50px;
    border: 0.4em solid $primary-color;
    border-right-color: transparent;
  }
}